services:
  postgres:
    image: postgres:16
    container_name: task_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: task_password
      POSTGRES_DB: task_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infra/database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend_net

  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      PORT: 4000
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: task_user
      DB_PASSWORD: task_password
      DB_NAME: task_db
    depends_on:
      - postgres
    networks:
      - backend_net

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - backend
    environment:
      - REACT_APP_API_BASE_URL=http://nginx/api
    networks:
      - backend_net

  nginx:
    image: nginx:alpine
    container_name: task_nginx
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - '8080:80'
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend_net

volumes:
  postgres_data:

networks:
  backend_net:
    driver: bridge
